<div class="game-container">

    <div class="replays">Replays Available: {{replaysAvailable}}</div>
  

    <div class="timer">Time: {{timer}} sec</div>
  

    <div class="song-clip">
      <button (click)="playAudio()">Play</button>
      <div>Some song</div>
      <button (click)="pauseAudio()">Pause</button>
      <button (click)="replayAudio()">Replay</button>
    </div>
  

    <div class="choices" *ngIf="showChoices">
      <button *ngFor="let choice of choices" (click)="selectChoice(choice)" [ngClass]="{'selected': selectedChoice === choice}">{{choice}}</button>
    </div>
  

    <button class="next-button" *ngIf="showChoices && !isLastQuestion" (click)="nextQuestion()">Next</button>
    <button class="complete-button" *ngIf="showChoices && isLastQuestion" (click)="completeGame()">Complete</button>
  </div>
  