<div *ngIf="authLoading || configLoading">Loading...</div>
<div *ngIf="!authLoading && !configLoading">
  Genre:
  <select [(ngModel)]="selectedGenre" (ngModelChange)="setGenre($event)">
    <option [value]=""></option>
    <option [value]="genre" *ngFor="let genre of genres">
      {{ genre }}
    </option>
  </select>
</div>

<div class="home-page">
  <h1>Who is Who</h1>
  <div class="navigation-buttons">
    <button (click)="startGame()">Start</button>
    <button (click)="configuration()">Settings</button>
    <button (click)="leaderboard()">Leaderboard</button>
  </div>
</div>

